In [1]:
import sqlite3

db_path = r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\database\stock_data.db"
conn = sqlite3.connect(db_path)

print("Connected to SQLite database.")

Connected to SQLite database.

## Loading data into SQLite

### We first start with AAPL_cleaned.csv

In [2]:
import pandas as pd

aapl_path = r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\AAPL_cleaned.csv"
aapl_data = pd.read_csv(aapl_path)

aapl_data.to_sql('aapl', conn, if_exists='replace', index=False)

print("AAPL data loaded into SQLite table: aapl")

AAPL data loaded into SQLite table: aapl

### We now load the remaining data file from other tickers

In [3]:
msft = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\MSFT_cleaned.csv")
msft.to_sql('msft', conn, if_exists='replace', index=False)

amzn = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\AMZN_cleaned.csv")
amzn.to_sql('amzn', conn, if_exists='replace', index=False)

googl = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\GOOGL_cleaned.csv")
googl.to_sql('googl', conn, if_exists='replace', index=False)

meta = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\META_cleaned.csv")
meta.to_sql('meta', conn, if_exists='replace', index=False)

print("All remaining stock tables loaded into SQLite.")

All remaining stock tables loaded into SQLite.

# MERGE CLEANED DATASETS INTO ONE TABLE

In [ ]:
import pandas as pd

aapl = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\AAPL_cleaned.csv")
aapl['Ticker'] = 'AAPL'

msft = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\MSFT_cleaned.csv")
msft['Ticker'] = 'MSFT'

amzn = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\AMZN_cleaned.csv")
amzn['Ticker'] = 'AMZN'

googl = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\GOOGL_cleaned.csv")
googl['Ticker'] = 'GOOGL'

meta = pd.read_csv(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\META_cleaned.csv")
meta['Ticker'] = 'META'

all_stocks = pd.concat([aapl, msft, amzn, googl, meta], ignore_index=True)

all_stocks.head()

,Date,Open,High,Low,Close,Volume,% Change,SMA_30,SMA_200,RSI,Volume_MA_20,Volatility_30,Ticker
0,2020-01-02,72.620850,72.681296,71.373226,71.627100,135480400,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
1,2020-01-03,71.914818,72.676447,71.689957,71.847118,146322800,0.307172,NaN,NaN,NaN,NaN,NaN,AAPL
2,2020-01-06,72.487839,72.526526,70.783241,71.034702,118387200,-1.130756,NaN,NaN,NaN,NaN,NaN,AAPL
3,2020-01-07,72.146942,72.753823,71.926915,72.497529,108872000,2.059314,NaN,NaN,NaN,NaN,NaN,AAPL
4,2020-01-08,73.307510,73.609745,71.849533,71.849533,132079200,-0.893819,NaN,NaN,NaN,NaN,NaN,AAPL

In [4]:
output_path = r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\all_stocks_cleaned.csv"

all_stocks.to_csv(output_path, index=False)

print("Merged CSV saved at:", output_path)

Merged CSV saved at: D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\data\processed\all_stocks_cleaned.csv

In [6]:
import sqlite3

conn = sqlite3.connect(r"D:\EU School\Academics\3rd Semester\Business Intelligence\Final Assessment\Stock-Market-Project\database\stock_data.db")

all_stocks.to_sql('stocks', conn, if_exists='replace', index=False)

print("Unified 'stocks' table inserted into SQLite.")

Unified 'stocks' table inserted into SQLite.